p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

body {
  font-size: 12px!important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
